#zoom_img {
    overflow: hidden;
}

#zoom_img img {
    max-height: 350px;
    max-width: 350px;
    -webkit-transition: all 2s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0px);
}

#zoom_img img:hover {
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    -webkit-filter: grayscale(0);
    opacity: 0.1;
    cursor: pointer;
}

.ml-4 {
    position: relative;
}

.imgText.m-auto {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    opacity: 0;
    font-size: 1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#zoom_img:hover .imgText {
    opacity: 1;
    font-size: 1vw;
}

.nft {
    overflow: hidden;
}
